body {
    height: 1250px;
    float: left;
    background-size: cover;

}

#header {
    height: 100px;
    width: 1200px;
    background-color: #b2530b;
    margin-left: 30px;
    box-shadow: 0px 7px 9px 9px #622f00;
}

#title {
    font-family: georgia, serif;
    padding-left: 75px;
    font-size: 45px;
    padding-top: 20px;
}

#subtitle {
    font-family: georgia, serif;
    padding: 10px;
    font-size: 13px;
}

#contact {
    font-family: georgia, serif;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

#center {
    height: 950px;
    width: 1200px;
    bottom: 10px;
    margin: -20px 30px;
    background-color: #b2530b;
    box-shadow: 0px 7px 9px 9px #622f00;
    margin-top: 20px;

}

#subheader {
    height: 100px;
    width: 1200px;
    background-color: #b2530b;
    margin-left: 30px;
    margin-top: 40px;
    box-shadow: 0px 7px 9px 9px #622f00;
}
/*Here begins the setup for the menu row*/

/* .Menu settings. Design for the buttons, including colour and position and functions*/
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(201, 95, 30, 0.20);
    background: #b2530b;
}

.menu {
    width:1000px;
    margin:0px auto;
}

.menu li {
    margin:0px;
    list-style:none;
}

.menu a {
    transition:all linear 0.15s;
    color: #ebebeb;
}

.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color: #ebebeb;
}

.menu .arrow {
    font-size:11px;
    line-height:0%;
}

.menu > ul > li {
    display:inline-block;
    position:relative;
    font-size:19px;
}

.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background: #622f00;
}
/*Here starts the CSS code for the hover and dropdown menu function*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}

.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background: #853b00;
}

.sub-menu li {
    display:block;
    font-size:16px;
}

.sub-menu li a {
    padding:10px 30px;
    display:block;
}

.sub-menu li a:hover, .sub-menu .current-item a {
    background: #9d4b0a;
}

h5 {
    color: black;
}


.banner {
    position: relative;
    overflow: auto;
}

.banner li {
    list-style: none;
}

.banner ul li {
    float: left;
}

#about_program {
    padding-left: 85px;
    padding-right: 85px;
}

::-webkit-input-placeholder {
    padding-left: 1px;
}