body {
    background: peru;
}

#center {
    display: block;
    position: absolute;
    height: 1000px;
    bottom: 0;
    top: 50px;
    left: 0;
    right: 0;
    margin: 10px 70px;
    background-color: #c95f1e;
    box-shadow: 7px 14px 7px 7px #622f00;

}